<!DOCTYPE html>
<html>
<head>
  %%_meta
  <title>%%_title</title>
  %%_styles
  %%_script
</head>
<body>

  <nav>
    %%_nav
  </nav>

  <h1>%%_title</h1>

  %%_messages

  <header>
    %%_h_1_1 %%_h_1_2 %%_h_1_3
    %%_h_2_1 %%_h_2_2 %%_h_2_3
    %%_h_3_1 %%_h_3_2 %%_h_3_3
  </header>

  <content>
    %%_c_1_1 %%_c_1_2 %%_c_1_3
    %%_c_2_1 %%_c_2_2 %%_c_2_3
    %%_c_3_1 %%_c_3_2 %%_c_3_3
  </content>

  <footer>
    %%_f_1_1 %%_f_1_2 %%_f_1_3
    %%_f_2_1 %%_f_2_2 %%_f_2_3
    %%_f_3_1 %%_f_3_2 %%_f_3_3
  </footer>

  %%_console

  <copyright>
    Copyright © 2017 Maxim Rysevets
  </copyright>

</body>
</html>