
  /* console */
  console {margin: 100px auto}
  console table {border-collapse: collapse; width: 100%; margin: 20px 0}
  console table thead {border-bottom: 5px solid #000}
  console table thead th {padding: 10px 5px; font-weight: normal; font-size: 1.2em; text-align: left}
  console table td {padding: 3px 10px; vertical-align: top}

  console table tr.autoload {background-color: #fff7da}
  console table tr.call     {background-color: #dadaff}
  console table tr.query    {background-color: #d3ffe4}
  console table tr.system   {background-color: #d3f6ff}
  console table tr.new      {background-color: #f0f5dc}