
  /* tree sizes and orientation */
  nav x-tree {margin: 0; padding: 0}
  nav x-tree ul, nav x-tree li {margin: 0; padding: 0; list-style: none}
  nav x-tree > ul > li {float: left; cursor: default}
  nav x-tree > ul > li > a {display: block; padding: 20px}
  nav x-tree > ul > li > ul {position: absolute; padding: 20px}
  nav x-tree > ul > li > ul > li {}
  nav x-tree.user > ul > li {float: right}

  /* tree colors */
  nav x-tree > ul > li:hover {background: %%_color_hover_bg}
  nav x-tree > ul > li > a {color: white}
  nav x-tree > ul > li > a.active,
  nav x-tree > ul > li > a[href]:hover {color: %%_color_hover}
  nav x-tree > ul > li > a:hover {color: white}
  nav x-tree > ul > li > ul a {color: white}
  nav x-tree > ul > li > ul a.active,
  nav x-tree > ul > li > ul a:hover {color: %%_color_hover}
  nav x-tree > ul > li > ul {background: %%_color_hover_bg}

  /* tree dynamic */
  nav x-tree > ul > li > ul {display: none}
  nav x-tree > ul > li:hover > ul {display: block}

  /* icons */
  nav x-tree.main a.home           {padding-left: 52px; background: url('tree-icons.svg') no-repeat}
  nav x-tree.main a.admin          {padding-left: 52px; background: url('tree-icons.svg') no-repeat 0 -62px}
  nav x-tree.user a.user-id,
  nav x-tree.user a.user-anonymous {padding-left: 52px; background: url('tree-icons.svg') no-repeat 0 -124px}
