# top-most editorconfig file
root = true

# unix-style in every file
[*]
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.data]
file_type = yaml

[*.jsd]
file_type = javascript

[*.cssd]
file_type = css

[*.tpl]
file_type = html

[*.svgd]
file_type = xml
