
*.config  text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.css     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.cssd    text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.data    text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.html    text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.js      text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.jsd     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.json    text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.log     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.md      text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.php     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.sh      text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.svg     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.svgd    text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.tpl     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.txt     text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.xml     text eol=lf whitespace=-blank-at-eol,-blank-at-eof

*.gif    binary
*.ico    binary
*.jpeg   binary
*.jpg    binary
*.png    binary
*.sqlite binary
*.svgz   binary
