Options -Indexes
DirectorySlash Off

<IfModule headers_module>
  Header unset "X-Powered-By"
</IfModule>

<If "%{REQUEST_URI} -strmatch '/dynamic/cache/*'">
  Require all denied
</If>

<If "%{REQUEST_URI} -strmatch '/dynamic/data/*'">
  Require all denied
</If>

<If "%{REQUEST_URI} -strmatch '/dynamic/logs/*'">
  Require all denied
</If>

<If "%{REQUEST_URI} -strmatch '*/web.config'">
  Require all denied
</If>

<If "%{REQUEST_URI} =~ m#/\.#">
  Require all denied
</If>

<If "%{REQUEST_URI} =~ m#/\~#">
  Require all denied
</If>

RewriteEngine On
RewriteRule ^.*$ index.php [L]