<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <directoryBrowse enabled="false" />

        <rewrite>
            <rules>

                <rule name="Shell protection"         patternSyntax="Wildcard"   stopProcessing="true"> <match url="shell/*"                              /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Cache protection"         patternSyntax="Wildcard"   stopProcessing="true"> <match url="dynamic/cache/*"                      /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Data  protection"         patternSyntax="Wildcard"   stopProcessing="true"> <match url="dynamic/data/*"                       /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Logs  protection"         patternSyntax="Wildcard"   stopProcessing="true"> <match url="dynamic/logs/*"                       /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="*.data files protection"  patternSyntax="Wildcard"   stopProcessing="true"> <match url="*.data"                               /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="*.php  files protection"  patternSyntax="Wildcard"   stopProcessing="true"> <match url="*.php"                                /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Composer.json protection" patternSyntax="ECMAScript" stopProcessing="true"> <match url="^composer\.json$|^.*/composer\.json$" /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Composer.lock protection" patternSyntax="ECMAScript" stopProcessing="true"> <match url="^composer\.lock$|^.*/composer\.lock$" /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Web.config protection"    patternSyntax="ECMAScript" stopProcessing="true"> <match url="^web\.config$|^.*/web\.config$"       /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Bug fix for '/.page.'"    patternSyntax="ECMAScript" stopProcessing="true"> <match url="^\..*\.$|^.*/\..*\.$"                 /> <action type="AbortRequest" /> </rule> <!-- Suppress the next message in the browser: Server Error in '/' Application. The resource cannot be found. Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable. -->
                <rule name="Protection for '.page'"   patternSyntax="ECMAScript" stopProcessing="true"> <match url="^\..*$|^.*/\..*$"                     /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
                <rule name="Protection for '~page'"   patternSyntax="ECMAScript" stopProcessing="true"> <match url="^\~.*$|^.*/\~.*$"                     /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>

                <rule name="Vendors protection" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^modules/vendors/packages/.*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern=".*\.(apng|avif|gif|heif|ico|jpeg|jpg|png|svg|webp|css|js)$" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>

                <rule name="SINGLE ENTRY POINT" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^.*$" ignoreCase="true" />
                    <action type="Rewrite" url="index.php/{R:0}" appendQueryString="true" />
                </rule>

            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

    </system.webServer>
</configuration>