<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <directoryBrowse enabled="false" />

    <rewrite>
      <rules>
        <rule name="Cache protection"       patternSyntax="Wildcard"   stopProcessing="true"> <match url="dynamic/cache/*"                /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
        <rule name="Data protection"        patternSyntax="Wildcard"   stopProcessing="true"> <match url="dynamic/data/*"                 /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
        <rule name="Logs protection"        patternSyntax="Wildcard"   stopProcessing="true"> <match url="dynamic/logs/*"                 /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
        <rule name="Web.config protection"  patternSyntax="ECMAScript" stopProcessing="true"> <match url="^web\.config$|^.*/web\.config$" /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
        <rule name="Bug fix for '/.page.'"  patternSyntax="ECMAScript" stopProcessing="true"> <match url="^\..*\.$|^.*/\..*\.$"           /> <action type="AbortRequest" /> </rule> <!-- Suppress the next message in the browser: Server Error in '/' Application. The resource cannot be found. Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable. -->
        <rule name="Protection for '.page'" patternSyntax="ECMAScript" stopProcessing="true"> <match url="^\..*$|^.*/\..*$"               /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
        <rule name="Protection for '~page'" patternSyntax="ECMAScript" stopProcessing="true"> <match url="^\~.*$|^.*/\~.*$"               /> <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" /> </rule>
        <rule name="Single entry point"     patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^.*$" ignoreCase="false" />
          <action type="Rewrite" url="index.php/{R:0}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>