<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <directoryBrowse enabled="false" />

    <rewrite>
      <rules>

        <rule name="Protect any system files" stopProcessing="true">
          <match url="^\..*|web.config$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access is forbidden." />
        </rule>

        <rule name="Single entry point" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="index.php/{R:1}" appendQueryString="false" />
        </rule>

      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>