
  x-field[data-type='captcha'] svg {display: block; margin: 10px 0}
  x-field[data-type='captcha'] input[name='captcha'] {font-size: 2em; text-align: center}

/* CSS4 width: calc(attr(size number) * 25 - 22px) */
  x-field[data-type='captcha'] input[name='captcha'][size='3'] {width:  53px}
  x-field[data-type='captcha'] input[name='captcha'][size='4'] {width:  78px}
  x-field[data-type='captcha'] input[name='captcha'][size='5'] {width: 103px}
  x-field[data-type='captcha'] input[name='captcha'][size='6'] {width: 128px}
  x-field[data-type='captcha'] input[name='captcha'][size='7'] {width: 153px}
  x-field[data-type='captcha'] input[name='captcha'][size='8'] {width: 178px}
  x-field[data-type='captcha'] input[name='captcha'][size='9'] {width: 203px}

  x-glyph-control {display: inline-block; margin: 10px 10px 5px 0; vertical-align: top}
  x-glyph-control x-field[data-type='checkbox'] {margin: 0; text-align: center; transform: scale(.7)}
  x-glyph-control x-field[data-type='checkbox'] input {margin: 0}